.post-edit-link {
	display: none;
}

.content-area {
    text-align: center;
    font-family: Montserrat;
}

.mainbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.site-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: white;
}

article {
    display: inline-block;
    position: relative;
    top: 150px;
    background-color: rgba(0,0,0,0.5);
    padding: 24px;
}

.homeHeader {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width:100%;
    height: 80px;
    background: #252525;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ee2323; 
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.homeHeader a {
    color: #252525;
    top: 0;
    position: absolute;
    right: 0;
}
