/*
 Theme Name:   Sportsii Child
 Theme URI:    http://sportsii.com/sporstii_new/wp-content/themes/sportsii-child
 Description:  Sportsii Child Theme
 Author:       Phil Belanger
 Author URI:   http://sportsii.com
 Template:     agama
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/


h1, h2, h3, h4, h5, h6 {
	color: #ee2323;
}

.entry-header .entry-title {
	font-size: 2em;
}


.steps span {
	color: #ee2323;
	font-weight: bold;
}

.feed {
	display: none;
}


ins.adsbygoogle { background: transparent !important; }


#agama-header-image span {
	position: absolute;
	color: white;
	font-family: Paytone One;
	font-size: 1.4em;
	background-color: rgba(0,0,0,0.5);
	padding: 7px 12px;
	width: 100%;
}

.edit-link {
	display: none;
}

.anchor { 
	padding-top: 90px; 
}

/** Geo My WP*/
div.gmw-fl-grid-gray-results-wrapper .bottom-wrapper {
	background-color: #ee2323 !important;
}

div.gmw-fl-grid-gray-results-wrapper ul.members-list-wrapper li.single-member .get-directions, div.gmw-fl-grid-gray-results-wrapper ul.members-list-wrapper li.single-member .address-wrapper {
	color: white !important;	
}

.gmw-fl-grid-gray-results-wrapper ul.gmw-pagination li a:hover, .gmw-fl-grid-gray-results-wrapper	 ul.gmw-pagination li span {
	background-color: #ee2323 !important;
	color: white !important;
}

/** Events Manager */
div.time-picker li {
	height:unset !important;
}

.bp_group .event .row-actions {
	display: none;
}

.event-attributes {
	padding-bottom: 18px;
}

.xfield-trigger-wrapper {
	background: #ee2323 !important;
	color:white !important;
}
